* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #f0f8ff;
}

.pagina {

  .geral {
    padding: 20px;


    .seçao {
      background-color: #fff;
      margin: 30px;
      padding: 30px;
      border-radius: 10px;
      box-shadow: #000 0px 0px 8px 0px;
      max-width: 800px;

      .lista {
        display: flex;
        flex-wrap: wrap;
        .plano {
            background-color: #f4f4f4;
            box-shadow: #000 0px 0px 8px 0px;
            text-align: center;
            width: 300px;
            padding: 20px;
            margin: 20px;
            border-radius: 20px;
            flex-wrap: wrap;
        
            .cor {
                padding: 20px;
                width: 50px;
                border-radius: 50px;
                margin-left: 105px;
            }
        }

      .elementos {
        display: flex;

        button {
          padding: 5px;
          margin-top: 10px;
          background-color: #a4c1d1;
          outline: none;
          border: 1px #000 solid;
        }
      }
      h2 {
        color: #585858;
      }
      input [type='text'] {
        width: 100%;
        height: 30px;
        outline: none;
      }
      input [type='checkbox'], input [type='radio'] {
        min-width: auto;
        align-items: center;
        display: flex;
      }
      select {
        width: 100%;
        height: 30px;
        outline: none;
        margin-top: 10px;
      }

      li {
        display: flex;
        margin-bottom: 5px;
        gap: 5px;
      }
    }
  }
}
}